@{
  Layout = "_Layout";
}

<h1>New Order</h1>
<h2>Create a new order for @Model.Name</h2>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <div class="form-group">
    <label for="orderTitle">Title</label>
    <input class="form-control col-6" id="orderTile" name="orderTitle" type="text" required>
  </div>
  <div class="form-group">
    <label for="orderDescription">Description</label>
    <input class="form-control col-6" id="orderDescription" name="orderDescription" type="text" required>
  </div>
  <div class="form-group">
    <label for="orderPrice">Price</label>
    <input class="form-control col-6" id="orderPrice" name="orderPrice" type="number" min="0.00" step="0.01" placeholder="0.00" required>
  </div>
  <div class="form-group">
    <label for="orderDate">Date</label>
    <input class="form-control col-6" id="orderDate" name="orderDate" type="date" placeholder="YYYY-MM-DD" required>
  </div>
  <button type="submit" class="btn btn-success">Add order</button>
</form>