@{
  Layout = "_Layout";
}

<h1>Order Details</h1>
<h2>@Model["order"].Title</h2>
<p>Description: @Model["order"].Description</p>
<p>Pick Up Date: @Model["order"].Date</p>
<p>Price: $@Model["order"].Price</p>

<a href='/vendors/@Model["vendor"].Id'>Other orders from this vendor</a>
<a href="/vendors">Vendor List</a>
<a href="/">Home</a>
